
/* ////////////////////
	TABLE OF CONTENT

	0. variables
        0.1 colors
        0.2 fonts
        0.3 social colors
        0.4 tech colors 

    1. global
        1.1 normalization
        1.2 typography
            1.2.1 headers
            1.2.2 paragraphs
            1.2.3 icons

    2. components
        2.1 buttons
        2.2 sections

    3. sections
        3.0 loader
        3.1 header
        3.2 footer
        showcase
        reviews
        commission terms of service
//////////////////// */

/* ====================
	0. variables
   ====================*/

    /* 0.1 colors */

    $color-primary: #EA9999; // light salmon pink
    $color-primary-hover: #E47D7D;
    $color-secondary: #D4E09B; // medium spring bud
    $color-background: #FFFFFF;
    $color-background-contrast: #f4f4f4;
    $color-background-dark: #333333;
    $color-font: #555;

    /* 0.2 fonts */

    $font-primary: 'Montserrat', sans-serif;
    $font-secondary: 'Chilanka', cursive;

    /* 0.3 social colors */

    $color-brand-twitter: #1DA1F2;
    $color-brand-discord: #7289DA;
    $color-brand-twitch: #6441A4;
    $color-brand-instagram: #CD3081;
    $color-brand-reddit: #FF4500;
    $color-brand-linkedin: #0271AE;
    $color-brand-github: #24292E;
    $color-brand-facebook: #1774EB;
    $color-brand-spotify: #1AD15C;
    $color-brand-stackoverflow: #EC771F;
    $color-brand-youtube: #F80000;
    $color-brand-mixer: #001F4E;
    $color-brand-steam: #0C1C49;
    $color-brand-deviantart: #05C645;

    /* 0.4 tech colors */

    $color-tech-sass: #CF649A;
    $color-tech-html: #E34F26;
    $color-tech-js: #FFDA07;
    $color-tech-gitKraken: #179287;


    /* if you can't see these, they are compiled away by scss */

/* ====================
	1. global
   ====================*/

   /* 1.1 normalization */

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;  
    } // default clears

    html {
        background-color: $color-background;
        color: $color-font;
        font-family: $font-primary;
        font-weight: 300;
        font-size: 20px;
        text-rendering: optimizeLegibility;
    } // base settings

    .row {
        max-width: 1140px;
        margin: 0 auto;
    } // initial setup for fluid grid

    ::selection {
        background: $color-secondary; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
        background: $color-secondary; /* Gecko Browsers */
    } // change the text selection color

    .hidden {
        display: none;
    }

    /* 1.2 typography */

        /* 1.2.1 headers */

        h1,
        h2,
        h3 {
            font-weight: 300;
        }

        h1 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #fff;
            font-size: 240%;
            word-spacing: 4px;
            letter-spacing: 1px;
        }

        h2 {
            font-family: $font-secondary;
            font-size: 180%;
            word-spacing: 2px;
            text-align: center;
            margin-bottom: 30px;
            letter-spacing: 1px;
        }
        
        h3 {
            font-size: 110%;
            margin-bottom: 15px;
        }

        h2:after {
            display: block;
            height: 3px;
            background-color: $color-primary;
            content: " ";
            width: 100px;
            margin: 0 auto;
            margin-top: 30px;
        } // accent after section headers

        /* 1.2.2 paragraphs */

        .long-copy {
            line-height: 145%;
            width: 70%;
            margin-left: 15%;
        }
        
        .box p {
            font-size: 90%;
            line-height: 145%;
        }

        /* 1.2.3 icons */

        .icon {
            &--big {
                font-size: 350%;
                display: block;
                color: $color-primary;
                margin-bottom: 10px;
            }
            
            &--small {
                display: inline-block;
                width: 30px;
                text-align: center;
                color: $color-primary;
                font-size: 120%;
                margin-right: 10px;
                
                /*secrets to align text and icons*/
                line-height: 120%;
                vertical-align: middle;
                margin-top: -5px;
            }
        }


/* ====================
	2. components
   ====================*/

   /* 2.1 buttons */
   
    .btn {
        &:link,
        &:visited {
            display: inline-block;
            padding: 10px 30px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            transition: background-color 0.2s, border 0.2s, color 0.2s;
        }

        &--full:link,
        &--full:visited {
            background-color: $color-primary;
            border: 1px solid $color-primary;
            color: $color-background;
            margin-right: 15px;
    
            &:hover {
                background-color: $color-primary-hover;
                border: 1px solid $color-primary-hover;
            }
    
            &:active {
                background-color: $color-secondary;
                border: 1px solid $color-secondary;
            }
        }

        &--outline:link,
        &--outline:visited {
            border: 1px solid $color-primary;
            color: $color-primary;
    
            &:hover {
                background-color: $color-primary-hover;
                border: 1px solid $color-primary-hover;
                color: $color-background;
            }
    
            &:active {
                background-color: $color-secondary;
                border: 1px solid $color-secondary;
                color: $color-background;
            }
        }
    }

    /* 2.2 sections */

    section {
        padding: 80px 0;
    }

/* ====================
	3. sections
   ====================*/

   /* 3.0 loader */

    .loader {
        height: 100vh; 
        background-color: $color-background-dark;

        &__img {
            height: 300px; 
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
        }
    }

   /* 3.1 header */

    header {

        /* 3.1.1 main nav */

        nav {
            .nav__logo {
                height: 200px;
                width: auto;
                float: left;
                margin-top: 20px;
            }

            .main-nav {
                float: right;
                list-style: none;
                margin-top: 55px;

                &__item {
                    list-style: none;
                    display: inline-block;
                    margin-left: 40px;

                    i {
                        margin-left: 5px;
                    }

                    .anchor {
                        &--main {
                            color: $color-background;
                        }

                        &--sub {
                            color: $color-background;
                        }

                        &:link,
                        &:visited {
                            padding: 8px 0;
                            text-decoration: none;
                            font-size: 90%;
                            border-bottom: 3px solid transparent;
                            transition: border-bottom 0.2s, color 0.2s;
                        }

                        &:hover {
                            border-bottom: 3px solid $color-primary;
                        }

                        &:active {
                            color: $color-secondary;
                            border-bottom: 3px solid $color-secondary;
                        }
                    }

                    &:hover > .sub-nav {
                        z-index: 99;
                        .sub-nav__item {
                            opacity: 1;
                            transform: translate(0, 10px);
                        }
                    } // by hovering a main-nav item, show the sub-nav

                    .sub-nav {
                        z-index: -99;
                        position: absolute;

                        &__item {
                            transform: translate(0, -10px);
                            opacity: 0;
                            display: block;
                            margin-left: -15px;
                            padding: 12px 20px;
                            transition: opacity 0.2s, transform 0.3s; 
                        }
                    }
                }
            }
        }

        /* 3.1.2 sticky nav */

        // .sticky-nav { TODO: make a modifier for nav
        //     background-color: $color-background-contrast;
        //     height: 60px;
        //     -webkit-box-shadow: 0px 7px 53px -12px rgba(0,0,0,0.75);
        //     -moz-box-shadow: 0px 7px 53px -12px rgba(0,0,0,0.75);
        //     box-shadow: 0px 7px 53px -12px rgba(0,0,0,0.75);

        //     .nav__logo {
        //         height: 40px;
        //         width: auto;
        //         float: left;
        //         margin-top: 10px;
        //     }

        //     .main-nav {
        //         float: right;
        //         list-style: none;
        //         margin-top: 20px;

        //         &__item {
        //             list-style: none;
        //             display: inline-block;
        //             margin-left: 40px;

        //             i {
        //                 margin-left: 5px;
        //             }

        //             .anchor {
        //                 &--main {
        //                     color: $color-background-dark;
        //                     z-index: 99;
        //                 }

        //                 &--sub {
        //                     color: $color-background-dark;
        //                 }

        //                 &:link,
        //                 &:visited {
        //                     padding: 13px 0;
        //                     text-decoration: none;
        //                     font-size: 90%;
        //                     border-bottom: 3px solid transparent;
        //                     transition: border-bottom 0.2s, color 0.2s;
        //                 }

        //                 &:hover {
        //                     border-bottom: 3px solid $color-primary;
        //                 }

        //                 &:active {
        //                     color: $color-secondary;
        //                     border-bottom: 3px solid $color-secondary;
        //                 }
        //             }

        //             &:hover > .sub-nav {
        //                 z-index: 98;
        //                 .sub-nav__item {
        //                     opacity: 1;
        //                     transform: translate(0, 10px);
        //                 }
        //             } // by hovering a main-nav item, show the sub-nav

        //             .sub-nav {
        //                 z-index: -99;
        //                 position: absolute;
        //                 background-color: $color-background-contrast;
        //                 border-radius: 4%;
        //                 padding: 0px 10px 20px 10px;

        //                 &__item {
        //                     transform: translate(0, -10px);
        //                     opacity: 0;
        //                     display: block;
        //                     margin-left: -15px;
        //                     padding: 12px 20px;
        //                     transition: opacity 0.2s, transform 0.3s; 
        //                 }
        //             }
        //         }
        //     }
        // }

        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/../../../img/source.gif);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;

        .hero {
            &__text-box {
                position: absolute;
                width: 1140px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__main-text {
                margin-top: 0;
                margin-bottom: 20px;
                color: $color-background;
                font-size: 240%;
                font-weight: 100;
                font-family: $font-secondary;
                // text-transform: lowercase;
                letter-spacing: 1px;
                word-spacing: 4px;
            }
        }
    }

   /* 3.2 footer */

   footer {
        background-color: $color-background-dark;
        padding: 60px 0 100px 0;

        .footer {
            &__text-links,
            &__social-links {
                list-style: none;
                display: inline-block;
                margin-bottom: 50px;
            }

            &__links {
                margin: 0 5px;
                display: inline-block;

                .link {
                    &--text,
                    &--icon {
                        color: $color-font;
                        text-decoration: none;
                        transition: color 0.2s;
                    }
                }
            }

            &__text-links {
                font-size: 80%;
                float: left;

                .link--text {
    
                    &:hover {
                        color: $color-background;
                    }
                }

                .tech {
                    margin-top: 5%;
                    text-align: center;

                    .link--icon {
                        font-size: 150%;
    
                        &--sass:hover {
                            color: $color-tech-sass;
                        }
    
                        &--html:hover {
                            color: $color-tech-html;
                        }
    
                        &--js:hover {
                            color: $color-tech-js;
                        }

                        &--git:hover {
                            color: $color-brand-github;
                        }

                        &--gitkraken:hover {
                            color: $color-tech-gitKraken;
                        }
                    }
                }
            }

            &__social-links {
                float: right;
    
                .link--icon {
                    font-size: 150%;
    
                    &--twitter:hover {
                        color: $color-brand-twitter;
                    }
    
                    &--discord:hover {
                        color: $color-brand-discord;
                    }
    
                    &--twitch:hover {
                        color: $color-brand-twitch;
                    }
    
                    &--instagram:hover {
                        color: $color-brand-instagram;
                    }
    
                    &--mail:hover {
                        color: $color-primary;
                    }
                }
            }
        }

        .copyright {
            &__text,
            &__credits {
                font-size: 70%;
                font-weight: 600;
                text-align: center;
            }

            &__credits {
                font-family: $font-secondary;

                &--social-link {
                    color: $color-font;
                    text-decoration: none; 
                    transition: color 0.2s;

                    &:hover {
                        color: $color-brand-twitter;
                    }
                }
            }
        }
   }

   /* showcase */
   .section-showcase {
        padding: 0px;

        .showcase {
            list-style: none;
            width: 100%;
            overflow: hidden;
            
            &_item {
                display: block;
                float: left;
                width: 25%;
            }

            &_photo {
                width: 100%;
                margin: 0px;
                overflow: hidden;
                background-color: #000;

                img {
                    opacity: 0.6;
                    width: 100%;
                    height: auto;
                    transform: scale(1.18);
                    transition: transform 0.5s, opacity 0.5s;

                    &:hover {
                        opacity: 1;
                        transform: scale(1.03); 
                    }
                }
            }
        }
   }


    /* reviews */
    .section-reviews {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/../../../img/original.gif);
        background-size: cover;
        color: $color-background;
        background-attachment: fixed;

        blockquote {
            padding: 2%;
            margin-top: 40px;
            font-style: italic;
            line-height: 140%;
            position: relative;

            &:before {
                content: "\201C";
                font-size: 500%;
                display: block;
                position: absolute;
                top: -5px;
                left: -5px;
            }

            cite {
                font-size: 90%;
                margin-top: 25px;
                display: block;
                font-family: $font-secondary;

                img {
                    height: 45px;
                    width: 45;
                    border-radius: 50%;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
        }
    }

    /* commission terms of service */
    // TODO: reconfigure to use BEM
    .section-terms {
        background-color: $color-background;

        .box{
            padding: 1%;

            p {
                text-transform: uppercase;
                font-size: 80%;
            }
        }

        .long-copy {
            margin-bottom: 80px;
            text-align: center;
            font-weight: bold;
        }

        h3 {
            text-transform: uppercase;
            margin: 10% 0% 12% 0%; 
        }

        ul li {
            list-style: none;
            font-weight: 100;
            margin: 15px 0px;
            font-size: 80%;
        }

    }