/* ////////////////////
    TABLE OF CONTENT
    
    1.3 animations
        // animation--slide-in
        // animation--slide-in--right
        // animation--slide-out
        // animation--slide-out--right
        // animation--bounce

//////////////////// */
  
  /* 1.3 animations */

  .animation {
    &--overlay-fade-in {
        animation: overlay-in 0.2s;
    }
    &--overlay-fade-out {
        animation: overlay-out 0.2s;
    }

    &--modal-in {
        animation: modal-in 0.5s ease-in-out;
        animation-delay: 0.2s;
        opacity: 0;
    }
    &--modal-out {
        animation: modal-out 0.5s ease-in-out;
        animation-delay: 0.2s;
    }
    &--slide-in {
        
        -webkit-animation: slide-in 0.1s ease-in-out; /* Safari 4+ */
        -moz-animation:    slide-in 0.1s ease-in-out; /* Fx 5+ */
        -o-animation:      slide-in 0.1s ease-in-out; /* Opera 12+ */
        animation:         slide-in 0.1s ease-in-out; /* IE 10+, Fx 29+ */

        &--right {
            -webkit-animation: slide-in-right 0.3s ease-in-out; /* Safari 4+ */
            -moz-animation:    slide-in-right 0.3s ease-in-out; /* Fx 5+ */
            -o-animation:      slide-in-right 0.3s ease-in-out; /* Opera 12+ */
            animation:         slide-in-right 0.3s ease-in-out; /* IE 10+, Fx 29+ */
        }
    }
    &--slide-out {
        
        -webkit-animation: slide-out 0.1s ease-in-out; /* Safari 4+ */
        -moz-animation:    slide-out 0.1s ease-in-out; /* Fx 5+ */
        -o-animation:      slide-out 0.1s ease-in-out; /* Opera 12+ */
        animation:         slide-out 0.1s ease-in-out; /* IE 10+, Fx 29+ */
        
        &--right {
            -webkit-animation: slide-out-right 0.3s ease-in-out; /* Safari 4+ */
            -moz-animation:    slide-out-right 0.3s ease-in-out; /* Fx 5+ */
            -o-animation:      slide-out-right 0.3s ease-in-out; /* Opera 12+ */
            animation:         slide-out-right 0.3s ease-in-out; /* IE 10+, Fx 29+ */
        }
    }
    &--bounce {
        -webkit-animation: bounce 1s ease-in-out infinite; /* Safari 4+ */
        -moz-animation:    bounce 1s ease-in-out infinite; /* Fx 5+ */
        -o-animation:      bounce 1s ease-in-out infinite; /* Opera 12+ */
        animation:         bounce 1s ease-in-out infinite; /* IE 10+, Fx 29+ */
    }
}

// overlay fade in & out
@keyframes overlay-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes overlay-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

// twitch text jump
@keyframes text-jump {
    0% { 
      transform: translateY(5.2083333333vw); 
      opacity: 0; 
    }
    5% { 
      transform: translateY(5.2083333333vw); 
      opacity: 1; 
    }
   15% { transform: translateY(5.2604166667vw); }
   20% { transform: translateY(5.34375vw); }
   25% { transform: translateY(5.375vw); }
   30% { transform: translateY(5.34375vw); }
   39% { transform: translateY(4.9322916667vw); }
   40% { transform: translateY(1.7359375vw); }
   51% { transform: translateY(1.125vw); }
   65% { transform: translateY(0.5208333333vw); }
  100% { 
    transform: translateY(0vw); 
    opacity: 1;
  } 
}

// background image shift
@keyframes background-shift {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

// modals
@keyframes modal-in {
    0% { top: 100%; }
    100% { top: 50%; opacity: 1; }
}
@keyframes modal-out {
    0% { top: 50%; opacity: 1; }
    100% { top: 0%; opacity: 0; }
}

// floating elements 
@keyframes float {
    0% { -webkit-transform: translateZ(0); transform: translateZ(0) }
    40% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0) }
    to { -webkit-transform: translateZ(0); transform: translateZ(0) }
}
@keyframes floatShadow {
    0% { opacity: 1 }
    40% { opacity: .8 }
    to { opacity: 1 }
}

// sprites
@keyframes pop {
    0% { background-position: 0 }
    40% { background-position: -816px }
    to { background-position: -816px }
}
@keyframes sparkle {
    0% { background-position: 0 }
    40% { background-position: -731px }
    to { background-position: -731px }
}
@keyframes light {
    0% { background-position: 0 }
    40% { background-position: -600px }
    to { background-position: -600px }
}
@keyframes cross {
    0% { background-position: 0 }
    40% { background-position: -600px }
    to { background-position: -600px }
}

// animation--slide-in
@-webkit-keyframes slide-in {
    0%   { transform: translate(0px, -60px); }
    100% { transform: translate(0px, 0px); }
}
@-moz-keyframes slide-in {
    0%   { transform: translate(0px, -60px); }
    100% { transform: translate(0px, 0px); }
}
@-o-keyframes slide-in {
    0%   { transform: translate(0px, -60px); }
    100% { transform: translate(0px, 0px); }
}
@keyframes slide-in {
    0%   { transform: translate(0px, -60px); }
    100% { transform: translate(0px, 0px); }
}

// animation--slide-in--right
@-webkit-keyframes slide-in-right {
    0%   { transform: translate(100px, 0px); }
    100% { transform: translate(0px, 0px); }
}
@-moz-keyframes slide-in-right {
    0%   { transform: translate(100px, 0px); }
    100% { transform: translate(0px, 0px); }
}
@-o-keyframes slide-in-right {
    0%   { transform: translate(100px, 0px); }
    100% { transform: translate(0px, 0px); }
}
@keyframes slide-in-right {
    0%   { transform: translate(100px, 0px); }
    100% { transform: translate(0px, 0px); }
}

// animation--slide-out
@-webkit-keyframes slide-out {
    0%   { transform: translate(0px, 0px); }
    100% { transform: translate(0px, -60px); }
}
@-moz-keyframes slide-out {
    0%   { transform: translate(0px, 0px); }
    100% { transform: translate(0px, -60px); }
}
@-o-keyframes slide-out {
    0%   { transform: translate(0px, 0px); }
    100% { transform: translate(0px, -60px); }
}
@keyframes slide-out {
    0%   { transform: translate(0px, 0px); }
    100% { transform: translate(0px, -60px); }
}

// animation--slide-out--right
@-webkit-keyframes slide-out-right {
    0% { transform: translate(0px, 0px); }
    100%   { transform: translate(100px, 0px); }
}
@-moz-keyframes slide-out-right {
    0% { transform: translate(0px, 0px); }
    100%   { transform: translate(100px, 0px); }
}
@-o-keyframes slide-out-right {
    0% { transform: translate(0px, 0px); }
    100%   { transform: translate(100px, 0px); }
}
@keyframes slide-out-right {
    0% { transform: translate(0px, 0px); }
    100%   { transform: translate(100px, 0px); }
}

// animation--bounce
@-webkit-keyframes bounce {
    0% { transform: translate(0px, 0px); }
    50%   { transform: translate(0px, -5px); }
    75%   { transform: translate(0px, 2px); }
    100% { transform: translate(0px, 0px); }
}
@-moz-keyframes bounce {
    0% { transform: translate(0px, 0px); }
    50%   { transform: translate(0px, -5px); }
    75%   { transform: translate(0px, 2px); }
    100% { transform: translate(0px, 0px); }
}
@-o-keyframes bounce {
    0% { transform: translate(0px, 0px); }
    50%   { transform: translate(0px, -5px); }
    75%   { transform: translate(0px, 2px); }
    100% { transform: translate(0px, 0px); }
}
@keyframes bounce {
    0% { transform: translate(0px, 0px); }
    50%   { transform: translate(0px, -5px); }
    75%   { transform: translate(0px, 2px); }
    100% { transform: translate(0px, 0px); }
}